<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm mb-5" style="background-color: #141E46;">
  <div class="container">
    <!-- App Name -->
    <a class="navbar-brand fw-bold" href="#" style="font-size: 20px;">
      <i class="bi bi-backpack4-fill"></i> KanbanBoard
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/board">Myboard</a>
        </li>
      </ul>
    </div>

    <!-- ปุ่ม Login หรือ Dropdown Profile -->
    <div *ngIf="!isLoggedIn; else profileDropdown" class="login-btn">
      <button class="btn btn-primary" (click)="goToLogin()">Login</button>
    </div>

    <ng-template #profileDropdown>
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person-circle"></i>
          {{ loggedInUser }}
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </ng-template>

  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
